@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles using Tailwind */
@layer base {
  :root {
    @apply font-poppins bg-gradient-to-br from-deep-blue via-midnight-blue to-black bg-star-field;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #1E3A8A; /* text-dark color */
  }

  body {
    @apply m-0 min-h-screen;
  }

  h1, h2, h3 {
    @apply font-space-mono font-bold;
  }
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-space-mono {
  font-family: 'Space Mono', monospace;
}